<footer>
  <div class="footer-blau">
    <div class="footer-logos">
      <a href="https://www.instagram.com/uhc_flamatt_sense/" target="_blank">
        <img src="/uploads/Footer/instagram.png" alt="" />
      </a>
      <a href="https://www.flickr.com/photos/145909033@N08/" target="_blank">
        <img src="/uploads/Footer/punkt-punkt.png" alt="" />
      </a>
      <a
        href="https://www.facebook.com/people/UHC-Flamatt-Sense/100063596651998/#"
        target="_blank"
      >
        <img src="/uploads/Footer/facebook.png" alt="" />
      </a>
    </div>
    <div class="footer-informationen">
      <p>UHC Flamatt-Sense</p>
      <a href="mailto:info@flamatt-sense.ch">
        <p>info@flamatt-sense.ch</p>
      </a>
      <p>Postfach 110, 3175 Flamatt</p>
      <a href="/404">
        <p>Helfereinsätze</p>
      </a>
      <a href="/100er-club">
        <p>100er-Club</p>
      </a>
    </div>
  </div>
  <div class="footer-grau">
    <p>Copyright 2025, Mateo Stalder & Cédric Herzog,
      <a href="/erklaerseite">Erklärseite</a></p>
  </div>
</footer>