<footer>
  <div class="footer-blau">
    <div class="footer-logos">
      <img src="/uploads/Footer/instagram.png" alt="" />
      <img src="/uploads/Footer/punkt-punkt.png" alt="" />
      <img src="/uploads/Footer/facebook.png" alt="" />
    </div>
    <div class="footer-informationen">
      <p>UHC Flamatt-Sense</p>
      <p>info@flamatt-sense.ch</p>
      <p>Postfach 110, 3175 Flamatt</p>
      <p>Helfereinsätze</p>
      <p>100er-Club</p>
    </div>
  </div>
  <div class="footer-grau">
    <p>Copyright 2025, Mateo Stalder & Cédric Herzog</p>
  </div>
</footer>