<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UHC Flammat-Sense</title>
    <link rel="stylesheet" href="styles.css" />
    <style>
      @import
      url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    </style>
  </head>
  <body>
    <header id="header">
      <nav>
        <div class="logo">
          <a href="/"><img
              class="logo-img"
              src="/uploads/logo-uhc-flamatt-sense.png"
              alt="Logo"
            /></a>
        </div>
        <div class="menu">
          <ul class="menu-list">
            <li class="menu-item"><a href="/"><b>Home</b></a></li>
            <li class="menu-item"><a href="/verein">Verein</a></li>
            <li class="menu-item">
              <a href="" id="menu-teams">Teams</a>
              <div class="menu-submenu-wrapper">
                <ul class="submenu">
                  <li class="submenu-item">
                    <a href="/teams/herren1">Herren I</a>
                  </li>
                  <li class="submenu-item">
                    Herren II
                  </li>
                  <li class="submenu-item">
                    Herren III
                  </li>
                  <li class="submenu-item">
                    Damen
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu-item"><a href="/100er-club">100er-Club</a></li>
            <li class="menu-item search-container">
              <a href="#search" class="search-icon">
                <img
                  src="/uploads/lupe 1.png"
                  alt="Suche"
                  class="header-icon"
                />
              </a>
              <input type="text" class="search-field" placeholder="Suche..." />
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <section class="hero-verein">
      <h1>100er-Club</h1>
    </section>
    <section class="ueber-uns">
      <div>
        <h2>
          Der 100er Club
        </h2>
      </div>
      <div class="ueber-uns-fliesstext">
        <p>Der 100er-Club ist eine Gemeinschaft von Gönnern, die den UHC
          Flamatt-Sense mit einem jährlichen Beitrag von mindestens SFr. 100.-
          finanziell unterstützen. Die Einnahmen des 100er-Club fliessen in den
          Juniorinnen- & Juniorenbereich und unterstützen die Trainerausbildung,
          die Materialbeschaffung und den Trainingsbetrieb. Jährlich organisiert
          der UHC Flamatt-Sense für die Mitglieder des 100er-Club einen Ausflug.
          Der UHC Flamatt-Sense bedankt sich bei allen 100er-Club Mitgliedern
          für Ihre Treue und Ihre wertvolle Unterstützung!
          <br /><br />Es freut uns, wenn auch Sie den UHC Flamatt-Sense als
          Mitglied des 100er-Club unterstützen und am jährlichen 100er-Club
          Anlass teilnehmen. Dafür füllen Sie bitte das Beitrittsformular aus.</p>
      </div>
    </section>
    <section class="angebot-container">
      <div>
        <h2>
          Beitritt
        </h2>
      </div>
      <div class="angebot-block-layout">
        <div class="angebot-block">
          <h4>
            Aktive
          </h4>
          <p>
            In den Aktiv-Mannschaften bieten wir Herren wie auch Damen die
            Möglichkeit auf hohem Niveau Kleinfeld-Unihockey zu betreiben. 
          </p>
          <a href="#" class="link-button"><div class="link-style">
              Anmelden
              <svg
                width="16"
                height="12"
                viewBox="0 0 16 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <line y1="6.04297" x2="15" y2="6.04297" stroke="currentColor" />
                <line
                  y1="-0.5"
                  x2="8.09132"
                  y2="-0.5"
                  transform="matrix(-0.741536 0.670913 -0.60887 -0.79327 15 5.45703)"
                  stroke="currentColor"
                />
                <line
                  y1="-0.5"
                  x2="8.09132"
                  y2="-0.5"
                  transform="matrix(-0.741536 -0.670913 -0.60887 0.79327 15 6.54297)"
                  stroke="currentColor"
                />
              </svg>

            </div>
          </a>
        </div>
        <div class="angebot-block">
          <h4>
            Plausch
          </h4>
          <p>
            In den Polysport-Teams finden sich Damen und Herren, die Spass am
            Unihockey haben, nicht mehr am Meisterschaftsbetrieb teilnehmen
            möchten und ihre Perspektive auf das kollegiale Beisammensein
            richten.
          </p>
          <a href="#" class="link-button"><div class="link-style">
              Anmelden
              <svg
                width="16"
                height="12"
                viewBox="0 0 16 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <line y1="6.04297" x2="15" y2="6.04297" stroke="currentColor" />
                <line
                  y1="-0.5"
                  x2="8.09132"
                  y2="-0.5"
                  transform="matrix(-0.741536 0.670913 -0.60887 -0.79327 15 5.45703)"
                  stroke="currentColor"
                />
                <line
                  y1="-0.5"
                  x2="8.09132"
                  y2="-0.5"
                  transform="matrix(-0.741536 -0.670913 -0.60887 0.79327 15 6.54297)"
                  stroke="currentColor"
                />
              </svg>

            </div>
          </a>
        </div>
      </div>
    </section>

    <section class="sporthallen-container">
      <div>
        <h2>
          Sporthallen
        </h2>
      </div>
      <div class="sporthallen-block-layout">
        <div class="sporthallen-block">
          <h4>
            Flamatt
          </h4>
          <p>
            Austrasse 8<br />3175 Flamatt
          </p>
          <a href="#" class="link-button"><div class="link-style">
              Besuche uns
              <svg
                width="16"
                height="12"
                viewBox="0 0 16 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <line y1="6.04297" x2="15" y2="6.04297" stroke="currentColor" />
                <line
                  y1="-0.5"
                  x2="8.09132"
                  y2="-0.5"
                  transform="matrix(-0.741536 0.670913 -0.60887 -0.79327 15 5.45703)"
                  stroke="currentColor"
                />
                <line
                  y1="-0.5"
                  x2="8.09132"
                  y2="-0.5"
                  transform="matrix(-0.741536 -0.670913 -0.60887 0.79327 15 6.54297)"
                  stroke="currentColor"
                />
              </svg>

            </div>
          </a>
        </div>
        <div class="sporthallen-block">
          <h4>
            Wünnewil
          </h4>
          <p>
            Dorfstrasse 85a<br />3184 Wünnewil
          </p>
          <a href="#" class="link-button"><div class="link-style">
              Besuche uns
              <svg
                width="16"
                height="12"
                viewBox="0 0 16 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <line y1="6.04297" x2="15" y2="6.04297" stroke="currentColor" />
                <line
                  y1="-0.5"
                  x2="8.09132"
                  y2="-0.5"
                  transform="matrix(-0.741536 0.670913 -0.60887 -0.79327 15 5.45703)"
                  stroke="currentColor"
                />
                <line
                  y1="-0.5"
                  x2="8.09132"
                  y2="-0.5"
                  transform="matrix(-0.741536 -0.670913 -0.60887 0.79327 15 6.54297)"
                  stroke="currentColor"
                />
              </svg>

            </div>
          </a>
        </div>
        <div class="sporthallen-block">
          <h4>
            Neuenegg
          </h4>
          <p>
            Schulhausstrasse 7<br />3176 Neuenegg
          </p>
          <a href="#" class="link-button"><div class="link-style">
              Besuche uns
              <svg
                width="16"
                height="12"
                viewBox="0 0 16 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <line y1="6.04297" x2="15" y2="6.04297" stroke="currentColor" />
                <line
                  y1="-0.5"
                  x2="8.09132"
                  y2="-0.5"
                  transform="matrix(-0.741536 0.670913 -0.60887 -0.79327 15 5.45703)"
                  stroke="currentColor"
                />
                <line
                  y1="-0.5"
                  x2="8.09132"
                  y2="-0.5"
                  transform="matrix(-0.741536 -0.670913 -0.60887 0.79327 15 6.54297)"
                  stroke="currentColor"
                />
              </svg>

            </div>
          </a>
        </div>
      </div>
    </section>

    <footer>
      <div class="footer-blau">
        <div class="footer-logos">
          <img src="/uploads/Footer/instagram.png" alt="" />
          <img src="/uploads/Footer/punkt-punkt.png" alt="" />
          <img src="/uploads/Footer/facebook.png" alt="" />
        </div>
        <div class="footer-informationen">
          <p>UHC Flamatt-Sense</p>
          <p>info@flamatt-sense.ch</p>
          <p>Postfach 110, 3175 Flamatt</p>
          <p>Helfereinsätze</p>
          <p>100er-Club</p>
        </div>
      </div>
      <div class="footer-grau">
        <p>Copyright 2025, Mateo Stalder & Cédric Herzog</p>
      </div>
    </footer>
  </body>

</html>