<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UHC Flamatt-Sense</title>
    <link rel="stylesheet" href="styles.css" />
    <style>
      @import
      url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    </style>
  </head>
  <body>
    <header id="header">
      <nav>
        <div class="logo">
          <a href="/"><img
              class="logo-img"
              src="/uploads/logo-uhc-flamatt-sense.png"
              alt="Logo"
            /></a>
        </div>
        <div class="menu">
          <ul class="menu-list">
            <li class="menu-item"><a href="/">Home</a></li>
            <li class="menu-item">
              <a href="/verein">Verein</a>
              <div class="menu-submenu-wrapper">
                <ul class="submenu">
                  <li class="submenu-item">
                    <a href="/verein/news">News</a>
                  </li>
                  <li class="submenu-item">
                    Wir suchen dich
                  </li>
                  <li class="submenu-item">
                    Sponsoren
                  </li>
                  <li class="submenu-item">
                    Kontakt
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu-item">
              <a href="" id="menu-teams">Teams</a>
              <div class="menu-submenu-wrapper">
                <ul class="submenu">
                  <li class="submenu-item">
                    <a href="/teams/herren1">Herren I</a>
                  </li>
                  <li class="submenu-item">
                    Herren II
                  </li>
                  <li class="submenu-item">
                    Herren III
                  </li>
                  <li class="submenu-item">
                    Damen
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu-item"><a href="/100er-club">100er-Club</a></li>
            <li class="menu-item search-container">
              <a href="#search" class="search-icon">
                <img
                  src="/uploads/lupe 1.png"
                  alt="Suche"
                  class="header-icon"
                />
              </a>
              <input type="text" class="search-field" placeholder="Suche..." />
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <section class="ueber-uns">
      <div>
        <h2>
            404
        </h2>
    </div>
        <div class="error-fliesstext">
        <p>Diese Seite ist noch in Arbeit oder existiert nicht.
        Bitte schau später nochmal vorbei.</p>   
      </div>
      <a href="https://vv6p3h-3010.csb.app/" class="back">
        <div>
          Zurück zur Startseite
        </div>
      </a> 


    </section>
    {{> footer }}
  </body>
</html>