<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UHC Flamatt-Sense</title>
    <link rel="stylesheet" href="styles.css" />
    <style>
      @import
      url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    </style>
  </head>
  <body>
    <header id="header">
      <nav>
        <div class="logo">
          <a href="/"><img
              class="logo-img"
              src="/uploads/logo-uhc-flamatt-sense.png"
              alt="Logo"
            /></a>
        </div>
        <div class="menu">
          <ul class="menu-list">
            <li class="menu-item"><a href="/">Home</a></li>
            <li class="menu-item">
              <a href="/verein">Verein</a>
              <div class="menu-submenu-wrapper">
                <ul class="submenu">
                  <li class="submenu-item">
                    <a href="/verein/news">News</a>
                  </li>
                  <li class="submenu-item">
                    Wir suchen dich
                  </li>
                  <li class="submenu-item">
                    Sponsoren
                  </li>
                  <li class="submenu-item">
                    Kontakt
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu-item">
              <a href="" id="menu-teams">Teams</a>
              <div class="menu-submenu-wrapper">
                <ul class="submenu">
                  <li class="submenu-item">
                    <a href="/teams/herren1">Herren I</a>
                  </li>
                  <li class="submenu-item">
                    Herren II
                  </li>
                  <li class="submenu-item">
                    Herren III
                  </li>
                  <li class="submenu-item">
                    Damen
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu-item"><a href="/100er-club">100er-Club</a></li>
            <li class="menu-item search-container">
              <a href="#search" class="search-icon">
                <img
                  src="/uploads/lupe 1.png"
                  alt="Suche"
                  class="header-icon"
                />
              </a>
              <input type="text" class="search-field" placeholder="Suche..." />
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <section class="ueber-uns">
      <div>
        <h2>
          Erklärseite: Verbesserung der Website vom UHC Flamatt-Sense
        </h2>
      </div>
      <div class="news-fliesstext">
        <div>
          <p>
            <b>Warum haben wir diese Seite gewählt</b><br>
Wir waren auf der Suche nach Webseiten von Sportteams, da wir von anderen Seiten verschiedene tolle Bausteine gesehen haben und diese zusammen auf einer Seite anwenden wollten. Dann sind wir auf die Seite des Unihockeyclubs Flamatt-Sense gestossen. Diese Webseite hat sehr viel verbesserungspotential, da sie wahrscheinlich schon älter ist und nicht sehr übersichtlich und nicht ansprechend gestaltet ist. 

          </p>
          <p>
            <b>Folgende Punkte werden wir verändern</b><br>
            <ul>
              <li>Startseite</li>
              <ul>
                <li>Navigation</li>
            Die Navigation auf der Startseite ist grösstenteils sehr gut, jedoch ist der Hintergrund der Lupe weiss, was sehr unschön ist. Diesen Hintergrund werden wir entfernen.
          
          </ul>
          <br>
          <ul>
            <li>Startbild</li>
            Die Qualität des Startbildes ist sehr schlecht. Dazu ist die Bildwahl nicht optimal, da das Bild keine Emotionen hervorweckt und der Blaustich ist zu stark. Dazu passt das Logo nicht auf das Bild, da es in der Navigation schon gut zu sehen ist. Wir werden ein anderes Bild mit mehr Emotionen auswählen, dazu das Logo im Bild entfernen und einen kurzen Willkommenstext auf das Startbild schreiben.      
      </ul>
      <br>
      <ul>
        <li>Hintergrund</li>
        Die Webseite des UHC Flamatt-Sense hat einen Blauen Viewport mit einem Verlauf. Dieser ist nicht zeitgemäss und lässt die Webseite sehr unschön wirken. So sieht die Webseite sehr altmodisch aus. Wir werden diesen Hintergrund entfernen und die Webseite auf der ganzen Breite des Screens mit einem weissen Hintergrund anzeigen lassen.  </ul>
        <br>
        <ul>
          <li>Aufbau der Startseite</li>
          Der Aufbau der Startseite ist aktuell folgendermassen, zuerst sind die News zu sehen, danach sind die kommenden Spiele aufgezeigt. Nach den Spielen wird man dazu aufgerufen, bei einem Helfereinsatz dabei zu sein. Rechts daneben wird auf der ganzen Startseite Werbung gemacht für ein App oder um Mitglied zu werden, ebenfalls die Verlinkungen zu den Sozialen Medien sind daneben. Dazu ist alles in einem Unschönen, langweiligen und nicht sehr übersichtlichen Design festgehalten.
          Nach unserer Meinung gibt es auf einer Seite eines Sportvereins wichtigere Dinge als die oben Aufgeführten, deshalb werden wir es folgendermassen Redesignen. Als erstes werden wir einen Slider mit den Sponsoren unter dem Startbild einfügen. Danach kommt eine Sektion mit den Nächsten Spielen, den letzten Spielen und der aktuellen Tabelle. Dabei kann man von der 2. Liga, 3. Liga und der ersten Frauenmannschaft auswählen. Bei dieser Sektion haben wir uns von der Webseite des SC Bümpliz inspirieren lassen (<a href="https://scbuempliz78.ch/">SC Bümpliz 78</a>) Zum Ende kommen noch die Aktuellen News.
        </ul> 
<br>
<ul>
  <li>Footer</li>
  Der Footer ist bei der alten Webseite voll mit Sponsoren. Welche wir zum Start der Seite einblenden werden. Ausserdem sind alle links blau und sehen genau gleich aus, so ist es unübersichtlich. In unserem Redesign werden wir den Footer übersichtlicher machen. Wir machen zuerst die Links zu den Sozialen Medien und danach der übliche Kontakt und ein paar links.
</ul>                                 
</ul>

          
            <ul>
              <li>Unterseite</li>
              <ul>
                <li>Accordeon</li>
                Jede Unterseite besitzt aktuelle in Accordeon, welches aus unserer Sicht sehr unpassend und störend ist, da man jedes Mal den Inhalt aufklappen und wieder einklappen muss. Wir werden diese Accordeons entfernen und sie durch normalen Text wie auf einer Standardwebseite ersetzten.          
          </ul>
          <br>
          <ul>
            <li>Startbild</li>
            Die Qualität des Startbildes ist sehr schlecht. Dazu ist die Bildwahl nicht optimal, da das Bild keine Emotionen hervorweckt und der Blaustich ist zu stark. Dazu passt das Logo nicht auf das Bild, da es in der Navigation schon gut zu sehen ist. Wir werden ein anderes Bild mit mehr Emotionen auswählen, dazu das Logo im Bild entfernen und einen kurzen Willkommenstext auf das Startbild schreiben.      
      </ul>
      <br>
      <ul>
        <li>Verein</li>
        Bei der Unterseite Verein wollen wir mehr Übersicht reinbringen. Dazu verwenden wir die Kacheln, welche wir schon auf der Hauptseite verwendet haben. Bei den Angeboten würde man dann zu einem Anmeldeformular kommen, welches wir aber nicht designen und coden werden. Bei den links zu den Sporthallen, führt der link auf Google Maps. Der Footer bleibt der gleiche wie bei der Hauptseite.        <br>
      <br>
      </ul>
        <ul>
          <li>Teams</li>
          Auf der Unterseite Teams haben wir das ganze Design angepasst, so sieht alles viel Moderner aus als vorher. Inhaltlich haben wir keine Veränderungen vorgenommen und es kommt alles vor, wie auch schon davor, einfach in einem besseren Look.        </ul> 
<br>
<ul>
  <li>100er Club</li>
  Für sich anzumelden, kommt man auf eine externe Seite, jedoch haben wir es ansprechender und übersichtlicher designt. Vorher war das Anmeldeformular am rechten Bildrand und nicht wirklich zu sehen. Bei uns steht es in der Mitte und fällt allen direkt auf, wenn sie auf die Seite gehen, sie wissen sofort, wo man sich anmelden kann.</ul>                                 
<br>
  <ul>
  <li>News</li>
  Die Newsseite gab es bei der alten Webseite nur wenn man in der Suchleiste folgenden Link eingibt: <a href="https://www.flamatt-sense.ch/news/">flamatt-sense.ch/news/</a> . Bei uns wird es in der Suchleiste einen Unterpunkt geben und die News werden dann in einem übersichtlichen Design gezeigt.</ul>
</ul>

</p>
<p>
  <b>Warum ist unsere Lösung besser</b><br>
  Unsere Lösung der Webseite ist übersichtlicher, da wir den ganzen Screen brauchen mit Inhalt. Die frühere Webseite hat am Rand immer Eigenwerbung, welche wir nicht am Rand platzieren werden, so ist unsere Lösung übersichtlicher. Ebenfalls ist unsere Lösung Ästhetischer, da wir einheitliche Farben verwenden, alles im gleichen Style belassen und auch die Accoredons auf der Unterseite entfernen, weil diese nicht besonders schön sind. Auf unserer Webseite findet man die Informationen einfacher, ebenfalls aufgrund der schon oben genannten Punkte und des einfacheren und minimalistischeren Designs.
</p>
<p>
  <b>Womit sind wir zufrieden und womit nicht</b><br>
  + Die einfachere Umsetzung und das schlichte Design gefällt uns sehr.<br>
  + Die Startseite mit den Unterschiedlichen Teams finden wir sehr gelungen.<br>
  + Die Übersicht ist bei unserer Webseite viel stärker gewährleistet als bei der alten Webseite.<br>
  <br>
  <br>
  - Wir haben keine Chatbots oder andere Interaktive Dinge eingebaut.<br>
  - Man könnte unser Design noch auf alle Seiten anpassen, was aus Zeitgründen ausgelassen wird.<br>
  </p>
  <p>
    <b>Quellen</b><br>
    Grundlage der Seite: <a href="https://www.flamatt-sense.ch/">flamatt-sense.ch</a><br>
Inspirationen für einzelne section: <a href="https://scbuempliz78.ch/">scbuempliz78.ch</a>

    </p>
        </div>
      </div>

    </section>
    {{> footer }}
  </body>
</html>