<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UHC Flamatt-Sense</title>
    <link rel="stylesheet" href="styles.css" />
    <style>
      @import
      url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    </style>
  </head>
  <body>
    <header id="header">
      <nav>
        <div class="logo">
          <a href="/"><img
              class="logo-img"
              src="/uploads/logo-uhc-flamatt-sense.png"
              alt="Logo"
            /></a>
        </div>
        <div class="menu">
          <ul class="menu-list">
            <li class="menu-item"><a href="/"><b>Home</b></a></li>
            <li class="menu-item"><a href="/verein">Verein</a></li>
            <li class="menu-item">
              <a href="" id="menu-teams">Teams</a>
              <div class="menu-submenu-wrapper">
                <ul class="submenu">
                  <li class="submenu-item">
                    <a href="/teams/herren1">Herren I</a>
                  </li>
                  <li class="submenu-item">
                    Herren II
                  </li>
                  <li class="submenu-item">
                    Herren III
                  </li>
                  <li class="submenu-item">
                    Damen
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu-item"><a href="/100er-club">100er-Club</a></li>
            <li class="menu-item search-container">
              <a href="#search" class="search-icon">
                <img src="/uploads/lupe 1.png" alt="Suche" class="header-icon" />
              </a>
              <input type="text" class="search-field" placeholder="Suche..." />
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <section class="hero">
      <h1>Herren I – 2. Liga</h1>
    </section>
    <section class="ueber-uns">
      <div>
        <h2>
          Unser Team
        </h2>
      </div>
      <div class="ueber-uns-fliesstext">
        <p>Das Team setzt mit dem nötigen Eifer und Ehrgeiz den Fokus auf die Teambildung und die Integration von jungen Spielern.
<br><br>
          Nebst dem sportlichen Aspekt, sich gemeinsam im Bereich von technischen und taktischen Elementen der Spielkultur weiterzuentwickeln, wird auch der Beziehungspflege entsprechend Rechnung getragen.</p>
      </div>
    </section>
    <section class="tabellen-layout-start">
      <section class="tabellen-layout-start-spiele">
        <div class="teams-spiele-informationen">
          <div class="naechste-spiele-container">
            <h3 class="naechstes-spiel">
              Nächste Spiele
            </h3>
            <div class="naechste-spiele-beide">
              <div class="countdown">
                <div class="countdown-item">
                  <div class="countdown-zahl">35</div>
                  <div class="countdown-zeit">days</div>
                </div>
                <div class="countdown-item">
                  <div class="countdown-zahl">8</div>
                  <div class="countdown-zeit">hrs</div>
                </div>
                <div class="countdown-item">
                  <div class="countdown-zahl">38</div>
                  <div class="countdown-zeit">mins</div>
                </div>
                <div class="countdown-item">
                  <div class="countdown-zahl">02</div>
                  <div class="countdown-zeit">secs</div>
                </div>
              </div>
              <div class="naechster-match">
                <div class="naechster-match-teams">
                  <div class="naechster-match-team-1"><img
                      src="/uploads/logo-uhc-flamatt-sense.png"
                      alt=""
                    /></div>
                  <div class="naechster-match-vs">- VS -</div>
                  <div class="naechster-match-team-2"><img
                      src="/uploads/Gegner/uhc_delemont.png"
                      alt=""
                    /></div>
                </div>
                <div class="naechster-match-informationen">
                  <div class="naechster-match-informationen-ort">Sporthalle
                    Flamatt</div>
                  <div class="naechster-match-informationen-datum">11. März 2025</div>
                </div>
              </div>
            </div>
          </div>
          <div class="letzte-spiele-container">
            <h3 class="letzte-spiele">
              Letzte Spiele
            </h3>
            <div class="letzte-spiele-beide">
              <div class="letztes-spiel-1">
                <div class="letzte-spiele-resultat">
                  <div class="letzte-spiele-teams">UHC<br />Burgdorf</div>
                  <div class="letzte-spiele-spielstand">11:15</div>
                  <div class="letzte-spiele-teams">UHC<br />Flamatt-Sense</div>
                </div>
                <div class="letzte-spiele-datum">
                  <div>31. Januar 2025</div>
                </div>
              </div>
              <div class="letztes-spiel-2">
                <div class="letzte-spiele-resultat">
                  <div class="letzte-spiele-teams">UHC<br />Burgdorf</div>
                  <div class="letzte-spiele-spielstand">11:15</div>
                  <div class="letzte-spiele-teams">UHC<br />Flamatt-Sense</div>
                </div>
                <div class="letzte-spiele-datum">
                  <div>31. Januar 2025</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    </section>
  </section>
  <section class="teams-tabellen-layout">
    <div id="tabelle-herren1">
      <h3 class="naechstes-spiel">
        Tabelle
      </h3>
    </div>
    <div class="teams-tabelle-iframe">
      <iframe src="/tabelle" frameborder="0"></iframe>
    </div>

  </section>
    
  
    <footer>
      <div class="footer-blau">
        <div class="footer-logos">
          <img src="/uploads/Footer/instagram.png" alt="" />
          <img src="/uploads/Footer/punkt-punkt.png" alt="" />
          <img src="/uploads/Footer/facebook.png" alt="" />
        </div>
        <div class="footer-informationen">
          <p>UHC Flamatt-Sense</p>
          <p>info@flamatt-sense.ch</p>
          <p>Postfach 110, 3175 Flamatt</p>
          <p>Helfereinsätze</p>
          <p>100er-Club</p>
        </div>
      </div>
      <div class="footer-grau">
        <p>Copyright 2025, Mateo Stalder & Cédric Herzog</p>
      </div>
    </footer>
  </body>
  </html>