<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UHC Flamatt-Sense</title>
    <link rel="stylesheet" href="styles.css" />
    <style>
      @import
      url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    </style>
  </head>
  <body>
    <header id="header">
      <nav>
        <div class="logo">
          <a href="/"><img
              class="logo-img"
              src="/uploads/logo-uhc-flamatt-sense.png"
              alt="Logo"
            /></a>
        </div>
        <div class="menu">
          <ul class="menu-list">
            <li class="menu-item"><a href="/">Home</a></li>
            <li class="menu-item">
              <a href="/verein"><b>Verein</b></a>
              <div class="menu-submenu-wrapper">
                <ul class="submenu">
                  <li class="submenu-item">
                    <a href="/verein/news"><b>News</b></a>
                  </li>
                  <li class="submenu-item">
                    Wir suchen dich
                  </li>
                  <li class="submenu-item">
                    Sponsoren
                  </li>
                  <li class="submenu-item">
                    Kontakt
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu-item">
              <a href="" id="menu-teams">Teams</a>
              <div class="menu-submenu-wrapper">
                <ul class="submenu">
                  <li class="submenu-item">
                    <a href="/teams/herren1">Herren I</a>
                  </li>
                  <li class="submenu-item">
                    Herren II
                  </li>
                  <li class="submenu-item">
                    Herren III
                  </li>
                  <li class="submenu-item">
                    Damen
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu-item"><a href="/100er-club">100er-Club</a></li>
            <li class="menu-item search-container">
              <a href="#search" class="search-icon">
                <img
                  src="/uploads/lupe 1.png"
                  alt="Suche"
                  class="header-icon"
                />
              </a>
              <input type="text" class="search-field" placeholder="Suche..." />
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <section class="ueber-uns">
      <div>
        <h2>
          Street Floorball 2024
        </h2>
      </div>
      <div class="news-fliesstext">
        <div>
          <p>
            Liebe Mitglieder und Gäste<br /><br />
            Mit grosser Freude dürfen wir dieses Jahr wieder ein Street
            Floorball Feld anbieten. Das Feld steht auf dem Schulhausplatz
            Thörishaus (Schulhaus Stucki) und kann ab Mittwoch 03.07.2024 von
            allen Teams und der Öffentlichkeit benutzt werden. Voraussichtlich
            erfolgt der Abbau/die Weitergabe des Feldes am 15./16.08.2024 (def.
            Termin steht noch offen).<br /><br />
            Vielen Dank hierbei der Schule Thörishaus und den Gemeinden Neuenegg
            und Köniz für die tolle Kooperation und die Zurverfügungstellung des
            Platzes.<br /><br />
            Wir freuen uns mit dem Street Floorball Feld in Thörishaus sowohl
            dem Verein wie auch der Öffentlichkeit den Unihockeysport näher zu
            bringen und wünschen alllen einen hoffentlich sonnigen Sommer 2024!<br
            /><br />
            Was genau ist «Street Floorball»?<br /><br />
            2021 wurde zum Geburtsjahr von Street Floorball in der Schweiz. Ganz
            nach dem Motto «Reduced to the max!» soll Street Floorball so
            einfach wie möglich sein. Also nur so viele Regeln wie nötig und mit
            dem Wegfall des Goalies so wenig Ausrüstung wie möglich. Denn genau
            diese Eigenschaften sind es, welche zum grossen Erfolg von Unihockey
            beitragen.<br /><br />
            Die Idee, Street Floorball in der Schweiz zu lancieren, entstand
            rund um die Heim-WM der Männer 2022 in Zürich und Winterthur.
            Gemeinsam mit den Vereinen will swiss unihockey Street Floorball
            stetig weiterentwickeln und das Angebot laufend erweitern. Das Ziel
            ist einfach: Street Floorball soll dazu beitragen, dass immer mehr
            Menschen immer mehr Unihockey spielen.<br /><br />
            Infos zum Street Floorball Feld<br />
            <ul>
              <li>In folgendem Reglement sind die wichtigsten Infos zur Nutzung
                dokumentiert</li>
              <li>Unter folgenden Links bei swiss unihockey finden sich
                Spielregeln und Unterrichtsideen
                <ul>
                  <li>swiss unihockey - Streetfloorball Spielregeln</li>
                  <li>swiss unihockey - Streetfloorball Unterrichtsideen</li>
                </ul>
              </li>
              <li>Platzreservation sind über den UHC Flamatt-Sense zu tätigen,
                siehe Reglement</li>
              <li>Bei nicht vorhandenen Platzreservationen steht der Platz der
                Öffentlichkeit zur Verfügung</li>
              <li>Gerne dürfen Bilder von Euren Events auf dem Street Floorball
                Feld auf den sozialen Medien publiziert werden:
                <ul>
                  <li>Verwendet dazu folgende Hashtags: #uhcfs #flamatthüü
                    #floorbalized #unihockey #swissunihockey #floorball
                    #streetfloorball</li>
                  <li>Bitte beachtet jeweils die Einhaltung der
                    Datenschutzbestimmungen (ggf. Einholung der persönlichen
                    Berechtigung bei abgebildeten Personen zur Veröffentlichung
                    von Bildern)</li>
                  <li>Bilder dürfen auch gerne dem Verein zugestellt werden:
                    info@flamatt-sense.ch</li>
                </ul>
              </li>
            </ul>
          </p>
        </div>
      </div>

    </section>
    {{> footer }}
  </body>
</html>