<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UHC Flammat-Sense</title>
    <link rel="stylesheet" href="styles.css" />
    <style>
      @import
      url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    </style>
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <a href="#home"><img
              class="logo-img"
              src="/uploads/logo-uhc-flamatt-sense.png"
              alt="Logo"
            /></a>
        </div>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#verein">Verein</a></li>
          <li><a href="#teams">Teams</a></li>
          <li><a href="#100er-club">100er-Club</a></li>
          <li><a href="#search"></a></li>
        </ul>
      </nav>
    </header>

    <section class="hero">
      <h1>Willkommen beim <br /> UHC Flammat-Sense</h1>
    </section>
    <hr />
    <section class="partner-slider">
      <div class="logos-partner">
        <div class="slide">
          <img
            src="/uploads/Sponsoren/Braemu_Logo-Grafikreich-3.png"
            alt="Sponsor 1"
          />
          <img src="/uploads/Sponsoren/Holzbau_glo 1.png" alt="Sponsor 2" />
          <img
            src="/uploads/Sponsoren/logo-avia-bg-white.png"
            alt="Sponsor 3"
          />
          <img src="/uploads/Sponsoren/Logo_100_Club.png" alt="Sponsor 4" />
          <img
            src="/uploads/Sponsoren/Rest-Waage_logosmall.png"
            alt="Sponsor 5"
          />
          <img
            src="/uploads/Sponsoren/Restaurant-zum-Denkmal_Logo-2021_CMYK-10-90-60-0.png"
            alt="Sponsor 6"
          />
        </div>
        <!-- Und gleich nochmal, um den nahtlosen Loop zu bekommen -->
        <div class="slide">
          <img
            src="/uploads/Sponsoren/Braemu_Logo-Grafikreich-3.png"
            alt="Sponsor 1"
          />
          <img src="/uploads/Sponsoren/Holzbau_glo 1.png" alt="Sponsor 2" />
          <img
            src="/uploads/Sponsoren/logo-avia-bg-white.png"
            alt="Sponsor 3"
          />
          <img src="/uploads/Sponsoren/Logo_100_Club.png" alt="Sponsor 4" />
          <img
            src="/uploads/Sponsoren/Rest-Waage_logosmall.png"
            alt="Sponsor 5"
          />
          <img
            src="/uploads/Sponsoren/Restaurant-zum-Denkmal_Logo-2021_CMYK-10-90-60-0.png"
            alt="Sponsor 6"
          />
        </div>
      </div>
    </section>
    <hr />

    <section class="tabellen-layout-start">
      <div>
        <h2>
          Spiele
        </h2>
      </div>
      <div class="Mannschaften">
        <div>
          <h3 class="herren-1">
            Herren I
          </h3>
        </div>
        <div>
          <h3 class="herren-2">
            Herren II
          </h3>
        </div>
        <div>
          <h3 class="Damen">
            Damen
          </h3>
        </div>
      </div>
    </section>

  </body>
</html>