<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UHC Flammat-Sense</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <a href="#home"><img
              class="logo-img"
              src="/uploads/logo-uhc-flamatt-sense.png"
              alt="Logo"
            /></a>
        </div>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#verein">Verein</a></li>
          <li><a href="#teams">Teams</a></li>
          <li><a href="#100er-club">100er-Club</a></li>
          <li><a href="#search"></a></li>
        </ul>
      </nav>
    </header>

    <section class="hero">
      <div class="overlay"></div>
      <h1>Willkommen beim <br /> UHC Flammat-Sense</h1>
    </section>

  </body>
</html>