<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UHC Flammat-Sense</title>
    <link rel="stylesheet" href="tabelle.css" />
    <style>
      @import
      url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    </style>
  </head>
  <body>
    <table class="tabelle">
      <thead>
        <tr>
          <th>POS</th>
          <th>Club</th>
          <th>W</th>
          <th>D</th>
          <th>L</th>
          <th id="PTS">PTS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1.</td>
          <td>UHT Semsales</td>
          <td>14</td>
          <td>1</td>
          <td>3</td>
          <td>29</td>
        </tr>
        <tr>
          <td>2.</td>
          <td>Unihockey Club Glâne Rue II</td>
          <td>12</td>
          <td>3</td>
          <td>3</td>
          <td>27</td>
        </tr>
        <tr>
          <td>3.</td>
          <td>UHC Guggisberg</td>
          <td>11</td>
          <td>2</td>
          <td>5</td>
          <td>24</td>
        </tr>
        <tr>
          <td>4.</td>
          <td>UH Zulgtal Eagles III</td>
          <td>9</td>
          <td>3</td>
          <td>6</td>
          <td>21</td>
        </tr>
        <tr>
          <td>5.</td>
          <td>Alterswil-St. Antoni</td>
          <td>10</td>
          <td>1</td>
          <td>7</td>
          <td>21</td>
        </tr>
        <tr>
          <td>6.</td>
          <td>UHU Bern</td>
          <td>9</td>
          <td>3</td>
          <td>6</td>
          <td>21</td>
        </tr>
        <tr>
          <td>7.</td>
          <td>Comet Cheseaux</td>
          <td>6</td>
          <td>1</td>
          <td>11</td>
          <td>13</td>
        </tr>
        <tr class="highlight">
          <td>8.</td>
          <td>UHC Flamatt-Sense</td>
          <td>3</td>
          <td>6</td>
          <td>9</td>
          <td>12</td>
        </tr>
        <tr>
          <td>9.</td>
          <td>UHC S.D. Heimberg</td>
          <td>3</td>
          <td>1</td>
          <td>14</td>
          <td>7</td>
        </tr>
        <tr>
          <td>10.</td>
          <td>UHC Belmont</td>
          <td>2</td>
          <td>1</td>
          <td>15</td>
          <td>5</td>
        </tr>
      </tbody>
    </table>

  </body>
</html>