<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UHC Flammat-Sense</title>
    <link rel="stylesheet" href="tabelle.css" />
    <style>
      @import
      url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    </style>
  </head>
  <body>
    <table class="tabelle">
      <thead>
        <tr>
          <th>POS</th>
          <th>Club</th>
          <th>W</th>
          <th>D</th>
          <th>L</th>
          <th id="PTS">PTS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1.</td>
          <td>UHC Kappelen II</td>
          <td>12</td>
          <td>2</td>
          <td>4</td>
          <td>26</td>
        </tr>
        <tr>
          <td>2.</td>
          <td>Unihockey Berner Oberland</td>
          <td>8</td>
          <td>5</td>
          <td>5</td>
          <td>21</td>
        </tr>
        <tr>
          <td>3.</td>
          <td>UHT Schangnau</td>
          <td>10</td>
          <td>1</td>
          <td>7</td>
          <td>21</td>
        </tr>
        <tr>
          <td>4.</td>
          <td>Team Flamingo</td>
          <td>9</td>
          <td>3</td>
          <td>6</td>
          <td>21</td>
        </tr>
        <tr>
          <td>5.</td>
          <td>UHC Chermignon</td>
          <td>9</td>
          <td>3</td>
          <td>6</td>
          <td>21</td>
        </tr>
        <tr>
          <td>6.</td>
          <td>SC Laupen II</td>
          <td>7</td>
          <td>2</td>
          <td>9</td>
          <td>16</td>
        </tr>
        <tr>
          <td>7.</td>
          <td>Floorball Köniz Bern IV</td>
          <td>7</td>
          <td>2</td>
          <td>9</td>
          <td>16</td>
        </tr>
        <tr>
          <td>8.</td>
          <td>UHC Phoenix Loc</td>
          <td>6</td>
          <td>3</td>
          <td>9</td>
          <td>15</td>
        </tr>
        <tr>
          <td>9.</td>
          <td>UHC Vikings Bern</td>
          <td>5</td>
          <td>2</td>
          <td>11</td>
          <td>12</td>
        </tr>
        <tr class="highlight">
          <td>9.</td>
          <td>UHC Flamatt-Sense II</td>
          <td>5</td>
          <td>1</td>
          <td>12</td>
          <td>11</td>
        </tr>
      </tbody>
    </table>

  </body>
</html>