<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UHC Flammat-Sense</title>
    <link rel="stylesheet" href="test.css" />
    <style>
      @import
      url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    </style>
  </head>
  <body>

    <div class="menu">
      <ul class="menu__list">

        <li class="menu__item">
          <span>Punkt 1</span>
        </li>

        <li class="menu__item">
          <span>Punkt 2</span>
          <div class="menu__submenu-wrapper">
            <ul class="menu__submenu">
              <li class="menu__submenu-item">Subpunkt 1</li>
              <li class="menu__submenu-item">Subpunkt 2</li>
              <li class="menu__submenu-item">Subpunkt 3</li>
              <li class="menu__submenu-item">Subpunkt 4</li>
            </ul>
            <ul class="menu__submenu">
              <li class="menu__submenu-item">Subpunkt 5</li>
              <li class="menu__submenu-item">Subpunkt 6</li>
              <li class="menu__submenu-item">Subpunkt 7</li>
              <li class="menu__submenu-item">Subpunkt 8</li>
            </ul>
          </div>
        </li>

        <li class="menu__item">
          <span>Punkt 3</span>
        </li>

        <li class="menu__item">
          <span>Punkt 4</span>
        </li>

      </ul>

    </div>

  </body>
</html>