<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UHC Flammat-Sense</title>
    <link rel="stylesheet" href="styles.css" />
    <style>
      @import
      url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    </style>
  </head>
  <body>
    <header id="header">
      <nav>
        <div class="logo">
          <a href="/"><img
              class="logo-img"
              src="/uploads/logo-uhc-flamatt-sense.png"
              alt="Logo"
            /></a>
        </div>
        <div class="menu">
          <ul class="menu-list">
            <li class="menu-item"><a href="/">Home</a></li>
            <li class="menu-item">
                <a href="/verein"><b>Verein</b></a>
                <div class="menu-submenu-wrapper">
                    <ul class="submenu">
                      <li class="submenu-item">
<a href="/verein/news">News</a>                      </li>
                      <li class="submenu-item">
                        <a href="/404">Wir suchen dich</a>                    
                    </li>
                      <li class="submenu-item">
                        <a href="/404">Sponsoren</a> 
                      </li>
                      <li class="submenu-item">
                        <a href="/404">Kontakt</a> 
                      </li>
                    </ul>
                  </div>
            </li>
            <li class="menu-item">
              <a href="" id="menu-teams">Teams</a>
              <div class="menu-submenu-wrapper">
                <ul class="submenu">
                  <li class="submenu-item">
                    <a href="/teams/herren1">Herren I</a>
                  </li>
                  <li class="submenu-item">
                    <a href="/404">Herren II</a> 
                  </li>
                  <li class="submenu-item">
                    <a href="/404">Herren III</a> 
                  </li>
                  <li class="submenu-item">
                    <a href="/404">Damen</a> 
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu-item"><a href="/100er-club">100er-Club</a></li>
            <li class="menu-item search-container">
              <a href="#search" class="search-icon">
                <img src="/uploads/lupe 1.png" alt="Suche" class="header-icon" />
              </a>
              <input type="text" class="search-field" placeholder="Suche..." />
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <section class="hero-verein">
      <h1>Verein</h1>
    </section>
    <section class="ueber-uns">
      <div>
        <h2>
          Über uns
        </h2>
      </div>
      <div class="ueber-uns-fliesstext">
        <p>Der UHC Flamatt-Sense wurde im Februar 1986 aus einer verschworenen
          Kollegengruppe gegründet und ist seither kontinuierlich gewachsen. Der
          Verein konzentriert sich hauptsächlich auf den Breitensport wobei das
          Hauptaugenmerk auf die Jugendförderung gerichtet ist. Seit der
          Gründung ist der Verein stetig gewachsen und umfasst aktuell über 200
          Mitglieder. Damit zählt der UHC Flamatt-Sense zu den grössten
          Unihockeyvereinen im Kanton Fribourg.
          <br /><br />
          Zahlreiche Erfolge wie Westschweizer Meister, Silber und Bronze bei
          den Junioren B. Vize-Schweizermeister bei den Junioren U16 , Cupsieger
          und Vize-Schweizermeister bei den Damen NLA, 3xSchweizermeister der
          Damen und der Wiederaufstieg der Herren 2010 auf dem Kleinfeld. Zwei
          Aufstiege der Herren 1999 und 2000 von der 1. Liga in die NLA waren
          einige denkwürdige Augenblicke in der noch jungen Vereinsgeschichte.
          <br /><br />
          Die Struktur des Vereins bietet allen Altersstufen die Möglichkeit
          diese attraktive Sportart auszuüben und kennenzulernen.</p>
      </div>
    </section>
    <section class="angebot-container">
      <div>
        <h2>
          Angebot
        </h2>
      </div>
      <div class="angebot-block-layout">
        <div class="angebot-block">
          <h4>
            Aktive
          </h4>
          <p>
            In den Aktiv-Mannschaften bieten wir Herren wie auch Damen die
            Möglichkeit auf hohem Niveau Kleinfeld-Unihockey zu betreiben. 
          </p>
          <a href="/404" class="link-button"><div class="link-style">
              Anmelden
              <svg
                width="16"
                height="12"
                viewBox="0 0 16 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <line y1="6.04297" x2="15" y2="6.04297" stroke="currentColor" />
                <line
                  y1="-0.5"
                  x2="8.09132"
                  y2="-0.5"
                  transform="matrix(-0.741536 0.670913 -0.60887 -0.79327 15 5.45703)"
                  stroke="currentColor"
                />
                <line
                  y1="-0.5"
                  x2="8.09132"
                  y2="-0.5"
                  transform="matrix(-0.741536 -0.670913 -0.60887 0.79327 15 6.54297)"
                  stroke="currentColor"
                />
              </svg>

            </div>
          </a>
        </div>
        <div class="angebot-block">
          <h4>
            Plausch
          </h4>
          <p>
            In den Polysport-Teams finden sich Damen und Herren, die Spass am
            Unihockey haben, nicht mehr am Meisterschaftsbetrieb teilnehmen
            möchten und ihre Perspektive auf das kollegiale Beisammensein
            richten.
          </p>
          <a href="/404" class="link-button"><div class="link-style">
              Anmelden
              <svg
                width="16"
                height="12"
                viewBox="0 0 16 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <line y1="6.04297" x2="15" y2="6.04297" stroke="currentColor" />
                <line
                  y1="-0.5"
                  x2="8.09132"
                  y2="-0.5"
                  transform="matrix(-0.741536 0.670913 -0.60887 -0.79327 15 5.45703)"
                  stroke="currentColor"
                />
                <line
                  y1="-0.5"
                  x2="8.09132"
                  y2="-0.5"
                  transform="matrix(-0.741536 -0.670913 -0.60887 0.79327 15 6.54297)"
                  stroke="currentColor"
                />
              </svg>

            </div>
          </a>
        </div>
        <div class="angebot-block">
          <h4>
            JuniorInnen
          </h4>
          <p>
            Unser Hauptaugenmerk gilt der Juniorenförderung. Ziel ist es, der
            Jugend in der Region das Interesse und die Freude am Unihockey zu
            vermitteln. Der UHC Flamatt-Sense bietet Juniorinnen und Junioren in
            allen Alterskategorien die Möglichkeit einzusteigen und sich
            weiterzuentwickeln.
          </p>
          <a href="/404" class="link-button"><div class="link-style">
              Anmelden
              <svg
                width="16"
                height="12"
                viewBox="0 0 16 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <line y1="6.04297" x2="15" y2="6.04297" stroke="currentColor" />
                <line
                  y1="-0.5"
                  x2="8.09132"
                  y2="-0.5"
                  transform="matrix(-0.741536 0.670913 -0.60887 -0.79327 15 5.45703)"
                  stroke="currentColor"
                />
                <line
                  y1="-0.5"
                  x2="8.09132"
                  y2="-0.5"
                  transform="matrix(-0.741536 -0.670913 -0.60887 0.79327 15 6.54297)"
                  stroke="currentColor"
                />
              </svg>

            </div>
          </a>
        </div>
      </div>
    </section>

    <section class="sporthallen-container">
      <div>
        <h2>
          Sporthallen
        </h2>
      </div>
      <div class="sporthallen-block-layout">
        <div class="sporthallen-block">
          <h4>Flamatt</h4>
          <p>
            Austrasse 8<br />3175 Flamatt
          </p>
          <a href="https://www.google.com/maps/place/Sporthalle+Flamatt/@46.8904793,7.3101403,17z/data=!3m1!4b1!4m6!3m5!1s0x478e4089aa58fe4f:0x74b779d37648c845!8m2!3d46.8904757!4d7.3127206!16s%2Fg%2F11fy7f4kzw?entry=ttu&g_ep=EgoyMDI1MDUwNy4wIKXMDSoASAFQAw%3D%3D" target="_blank" class="link-button">
            <div class="link-style">
              Besuche uns
              <svg
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 2C8.686 2 6 4.686 6 8C6 13 12 22 12 22C12 22 18 13 18 8C18 4.686 15.314 2 12 2ZM12 10.5C10.62 10.5 9.5 9.38 9.5 8C9.5 6.62 10.62 5.5 12 5.5C13.38 5.5 14.5 6.62 14.5 8C14.5 9.38 13.38 10.5 12 10.5Z"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </a>
        </div>
        <div class="sporthallen-block">
          <h4>
            Wünnewil
          </h4>
          <p>
            Dorfstrasse 85a<br />3184 Wünnewil
          </p>
          <a href="https://www.google.com/maps/place/Dorfstrasse+85,+3184+W%C3%BCnnewil-Flamatt/@46.8731347,7.271564,19.43z/data=!4m5!3m4!1s0x478e4031c08f7bdd:0x2677f9317e719bcc!8m2!3d46.8729909!4d7.2718858?entry=ttu&g_ep=EgoyMDI1MDUwNy4wIKXMDSoASAFQAw%3D%3D" target="_blank" class="link-button"><div class="link-style">
              Besuche uns
              <svg
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 2C8.686 2 6 4.686 6 8C6 13 12 22 12 22C12 22 18 13 18 8C18 4.686 15.314 2 12 2ZM12 10.5C10.62 10.5 9.5 9.38 9.5 8C9.5 6.62 10.62 5.5 12 5.5C13.38 5.5 14.5 6.62 14.5 8C14.5 9.38 13.38 10.5 12 10.5Z"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

            </div>
          </a>
        </div>
        <div class="sporthallen-block">
          <h4>
            Neuenegg
          </h4>
          <p>
            Schulhausstrasse 7<br />3176 Neuenegg
          </p>
          <a href="https://www.google.com/maps/place/Schulhausstrasse+7,+3176+Neuenegg/@46.896399,7.2898764,17z/data=!3m1!4b1!4m6!3m5!1s0x478e40719c989ff1:0x1639f4334aeb0701!8m2!3d46.8963954!4d7.294742!16s%2Fg%2F11gmfxczx3?entry=ttu&g_ep=EgoyMDI1MDUwNy4wIKXMDSoASAFQAw%3D%3D" target="_blank" class="link-button"><div class="link-style">
              Besuche uns
              <svg
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 2C8.686 2 6 4.686 6 8C6 13 12 22 12 22C12 22 18 13 18 8C18 4.686 15.314 2 12 2ZM12 10.5C10.62 10.5 9.5 9.38 9.5 8C9.5 6.62 10.62 5.5 12 5.5C13.38 5.5 14.5 6.62 14.5 8C14.5 9.38 13.38 10.5 12 10.5Z"
                  stroke="currentColor"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

            </div>
          </a>
        </div>
      </div>
    </section>
    {{> footer }}
  </body>
</html>