:root {
  --primary-color: #006cb5;
  --black-color: #323f48;
  --secundary-color: #a5d6f7;
  --white-color: #ffffff;
} /*Gesamte Seiten*/
body {
  margin: 0;
  font-family: inter;
}

header {
  height: 90px;
  background: var(--primary-color);
  padding: 10px 20px;
  color: var(--white-color);
}
nav {
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: space-between;
}
.menu-item {
  margin: 0 15px;
  position: relative;
  height: 110px;
  align-items: center;
  display: flex;
  position: relative;
  padding: 5px 15px;
  justify-content: space-between;
}
.menu-item a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 18px;
  width: max-content;
}

.menu-list {
  display: flex;
}

.menu-item:hover .menu-submenu-wrapper {
  display: flex;
  top: 90px;
  left: 0;
}
.menu-submenu-wrapper {
  display: none;
  position: absolute;
  background-color: var(--black-color);
  z-index: 5;
}
.submenu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 200px;
}
.submenu-item {
  padding: 0 15px;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: solid 2px var(--secundary-color);
}

.submenu-item a {
  font-size: 16px;
  font-weight: 400;
}

#menu-teams {
  cursor: default;
}

.logo,
.logo-img {
  width: 70px;
  height: 70px;
  margin-left: 10px;
}

.header-icon {
  width: 20px;
  height: 20px;
  fill: white;
  stroke: white;
}
.hero {
  position: relative;
  width: 100%;
  height: 660px;
  background: url("/uploads/headerbild-start.png") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  text-align: center;
}
h1 {
  font-size: 42px;
  color: var(--white-color);
}
h2 {
  font-family: inter;
  font-weight: 500;
  font-size: 38px;
  margin-bottom: 5%;
  text-align: center;
  color: var(--black-color);
} /*Startseite*/
.partner-slider {
  position: relative;
  overflow: hidden;
  background: var(--white-color);
  padding: 32px 0;
  outline: solid 5px var(--secundary-color);
  margin: 10px 0;
}
.logos-partner {
  display: flex;
  width: calc(200%);
  animation: scroll 40s linear infinite;
}
.slide {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}
.slide img {
  max-height: 70px;
  margin: 0 38.4px;
  transition: filter 0.3s;
}
.slide img:hover {
  filter: none;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
hr {
  border: none;
  background-color: var(--primary-color);
  height: 5px;
  margin: 0;
  padding: 0;
}
.tabellen-layout-start {
  margin-top: 10%;
}
.tabellen-layout-start h3 {
  font-family: inter;
  font-weight: 600;
  font-size: 18px;
  margin: 0;
  text-align: center;
}
.tabellen-layout-start .Mannschaften {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: 0 auto;
}
.tabellen-layout-start .herren-1,
.tabellen-layout-start .herren-2,
.tabellen-layout-start .damen {
  padding: 16px;
  color: white;
}
.tabs {
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  color: white;
}
.tabs::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: var(--indicator-left, 0);
  width: var(--indicator-width, 0);
  height: 2px;
  background-color: var(--primary-color);
  transition: left 0.3s ease, width 0.3s ease;
}
.tabs button {
  background: var(--black-color);
  border: none;
  padding: 16px;
  cursor: pointer;
  font-size: 18px;
  border-bottom: 2px solid transparent;
  flex: 1;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.tabs button.active {
  background-color: var(--primary-color);
  color: white;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
.tabellen-layout-start .herren-1 {
  background: var(--primary-color);
}
.tabellen-layout-start .herren-2,
.tabellen-layout-start .damen {
  background: var(--black-color);
}
.tabellen-layout-start-spiele {
  width: 80%;
  margin: 2% auto;
}
.tabellen-layout-start-spiele .spiele-informationen {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
}
.tabellen-layout-start-spiele h3 {
  color: white;
  font-family: inter;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding: 16px 0;
  background: var(--primary-color);
  margin: 16px 0;
}
.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 16px 0 0 0;
}
.countdown-item {
  background: var(--black-color);
  color: var(--white-color);
  width: 25%;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: center;
}
.countdown-zahl {
  font-family: inter;
  font-size: 28px;
  font-weight: 700;
}
.countdown-zeit {
  font-family: inter;
  font-size: 14px;
  font-weight: 400;
  margin-top: 4px;
}
.naechster-match {
  width: 100%;
  margin: 0 auto;
  font-family: inter, sans-serif;
}
.naechster-match-teams {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background-color: var(--primary-color);
  padding: 32px 16px;
  color: var(--white-color);
  border-bottom: 5px solid var(--secundary-color);
}
.naechster-match-team-1,
.naechster-match-team-2 {
  display: flex;
  margin: auto;
  width: 50px;
  height: 50px;
}
.naechster-match-vs {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}
.naechster-match-informationen {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--black-color);
  padding: 16px;
  color: var(--white-color);
}
.naechster-match-informationen-ort,
.naechster-match-informationen-datum {
  text-align: center;
  align-self: center;
  font-size: 14px;
  font-weight: 400;
}
.letzte-spiele-container {
  height: 425px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.letzte-spiele-beide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.letztes-spiel-1 {
  font-family: inter, sans‑serif;
  margin: 16px 0 0 0;
}
.letztes-spiel-2 {
  font-family: inter, sans‑serif;
  margin: 0;
}
.letzte-spiele-teams {
  font-family: inter;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.letzte-spiele-spielstand {
  font-family: inter;
  font-size: 20px;
  font-weight: 600;
}
.letzte-spiele-resultat {
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-bottom: 5px solid var(--secundary-color);
}
.letzte-spiele-datum {
  background-color: var(--black-color);
  padding: 16px;
  color: var(--white-color);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
.naechste-spiele-container {
  height: 425px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.naechste-spiele-beide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.tabelle-container {
  height: 425px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tabelle-beide {
  margin: 16px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.tabelle-iframe {
  width: 100%;
  height: 100%;
}
iframe {
  width: 100%;
  height: 100%;
}
.tabelle-link {
  color: var(--white-color);
  text-decoration: none;
}
.ganze-tabelle {
  background-color: var(--black-color);
  color: var(--white-color);
  text-decoration: none;
  padding: 16px;
  width: 40%;
  display: flex;
  margin: 12px auto 0;
  text-align: center;
  justify-content: center;
  transition: background-color 0.3s ease, outline 0.3s ease, color 0.3s ease,
    font-size 0.3s ease, font-weight 0.3s ease;
}
.ganze-tabelle {
  background-color: var(--black-color);
  color: var(--white-color);
  text-decoration: none;
  padding: 16px;
  width: 40%;
  display: flex;
  margin: 12px auto 0;
  text-align: center;
  justify-content: center;
  transition: background-color 0.3s ease, outline 0.3s ease, color 0.3s ease,
    font-size 0.3s ease, font-weight 0.3s ease;
}
.ganze-tabelle:hover {
  background-color: var(--white-color);
  color: var(--black-color);
  outline: solid 3px var(--black-color);
}
.news-layout-start {
  margin-top: 10%;
}
.news-block-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4%;
}
.news-block {
  width: 300px;
  border: solid 5px var(--primary-color);
  padding: 30px;
  position: relative;
  height: 250px;
}
.link-style {
  background-color: var(--primary-color);
  padding: 10px 20px;
  border: none;
  color: var(--white-color);
  align-items: center;
  width: max-content;
  font-size: 16px;
  font-weight: 400;
  transition: background-color 0.3s ease, outline 0.3s ease, color 0.3s ease,
    font-size 0.3s ease, font-weight 0.3s ease;
  position: absolute;
  bottom: 30;
  left: 30;
}

.link-style:hover {
  background-color: transparent;
  padding: 10px 20px;
  outline: solid 3px var(--primary-color);
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 400;
}
svg {
  margin-left: 20px;
  stroke-width: 1.25px;
}
svg:hover {
  fill: var(--primary-color);
  stroke-width: 1.5px;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%;
}
.footer-blau {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 30px 0;
  gap: 20px;
}
.footer-informationen {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
}
.footer-logos {
  justify-content: space-between;
  display: flex;
  width: 20%;
}
.footer-informationen p {
  color: var(--white-color);
  justify-content: center;
  display: flex;
  width: 195.85px;
}
.footer-grau {
  background-color: var(--black-color);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  padding: 10px;
}
.hero-verein {
  position: relative;
  width: 100%;
  height: 660px;
  background: url("/uploads/Headerbild/verein-headerbild.png") no-repeat center
    center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  text-align: center;
}
.ueber-uns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
.ueber-uns-fliesstext {
  display: flex;
  text-align: center;
  width: 65%;
  align-items: center;
  margin-top: 2%;
  color: var(--black-color);
  font-family: inter;
  font-size: 16px;
  font-weight: 400;
}
.angebot-block {
  width: 300px;
  border: solid 5px var(--primary-color);
  padding: 30px;
  position: relative;
  height: 350px;
}
.angebot-block-link {
  background-color: var(--primary-color);
  padding: 10px 20px;
  border: none;
  color: var(--white-color);
  align-items: center;
  width: max-content;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  bottom: 30;
  left: 30;
}
.angebot-block-link:hover {
  background-color: transparent;
  padding: 10px 20px;
  outline: solid 3px var(--primary-color);
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 400;
}
.angebot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
.link-button {
  text-decoration: none;
}
.angebot-block-layout {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4%;
}
.sporthallen-block {
  width: 300px;
  border: solid 5px var(--primary-color);
  padding: 30px;
  position: relative;
  height: 190px;
}
.sporthallen-block-link {
  background-color: var(--primary-color);
  padding: 10px 20px;
  border: none;
  color: var(--white-color);
  align-items: center;
  width: max-content;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  bottom: 30;
  left: 30;
}
.sporthallen-block-link:hover {
  background-color: transparent;
  padding: 10px 20px;
  outline: solid 3px var(--primary-color);
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 400;
}
.sporthallen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
.sporthallen-block-layout {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4%;
}
h4 {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: bold;
}

.teams-spiele-informationen {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
}

.teams-tabellen-layout {
  width: 80%;
  display: flex;
  margin: 10% auto 0 auto;
  justify-content: center;
  flex-direction: column;
}

.teams-tabellen-layout h3 {
  color: white;
  font-family: inter;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding: 16px 0;
  background: var(--primary-color);
  margin: 16px 0;
}

.teams-tabelle-iframe {
  width: 100%;
  height: 480px;
}
