:root {
  --primary-color: #006cb5;
  --black-color: #323f48;
  --secundary-color: #a5d6f7;
  --white-color: #ffffff;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  height: 90px;
  background: var(--primary-color);
  padding: 10px 20px;
  color: var(--white-color);
}

nav {
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px;
  font-family: inter;
}

nav ul li a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 18px;
}

.logo {
  width: 70px;
  height: 70px;
}

.logo-img {
  width: 70px;
  height: 70px;
}

nav ul li a.active {
  font-weight: bold;
}

.hero {
  position: relative;
  background: url("/uploads/headerbild-start.png") no-repeat center center/cover;
  height: 660px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  text-align: center;
}

.hero h1 {
  position: relative;
  font-size: 36px;
  color: var(--white-color);
}

.partner-slider {
  position: relative;
  overflow: hidden;
  background: #fff; /* optional: Hintergrundfarbe */
  padding: 2rem 0;
}

.logos-partner {
  display: flex;
  width: calc(200%); /* da wir zwei .slide-Blöcke haben */
  animation: scroll 40s linear infinite;
}

.slide {
  display: flex;
  width: 50%; /* jede Slide nimmt die Hälfte der Track-Breite */
  justify-content: space-around;
  align-items: center;
}

.slide img {
  max-height: 70px; /* Logo-Höhe anpassen */
  margin: 0 2.4rem; /* Abstand zwischen den Logos */
  transition: filter 0.3s;
}

.slide img:hover {
  filter: none; /* bei Hover farbig anzeigen */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

hr {
  border: none;
  background-color: #006cb5;
  height: 6px;
  margin: 0;
  padding: 0;
}

/* 1. Sektion-Container */
.tabellen-layout-start {
  margin-top: 10%;
}

/* 2. Überschriften */
.tabellen-layout-start h2 {
  font-family: inter;
  font-weight: 500;
  font-size: 38px;
  margin-bottom: 5%;
  text-align: center;
}

.tabellen-layout-start h3 {
  font-family: inter;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  text-align: center;
}

/* 3. Layout der Mannschafts‑Spalten */
.tabellen-layout-start .Mannschaften {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: 0 auto 0; /* zentriert und mit Abstand nach oben */
}

/* 4. Styling der Boxen */
.tabellen-layout-start .herren-1,
.tabellen-layout-start .herren-2,
.tabellen-layout-start .damen {
  padding: 1rem;
  color: white;
}

/* 4a. Spezifische Hintergründe */
.tabellen-layout-start .herren-1 {
  background: var(--primary-color);
}

.tabellen-layout-start .herren-2,
.tabellen-layout-start .damen {
  background: var(--black-color);
}
