.menu-list {
  list-style: none;
  display: inline-flex;
  background-color: #ececec;
  padding: 0;
  border-radius: 3px;
}

.menu-item {
  position: relative;
  padding: 5px 15px;
  cursor: pointer;
}

.menu-item:hover .menu-submenu-wrapper {
  display: flex;
}

.menu-submenu-wrapper {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ececec;
  margin-top: 10px;
  z-index: 5;
}

.submenu {
  list-style: none;
  padding: 0;
}

.submenu:after,
.submenu:before {
  display: block;
  content: " ";
  position: absolute;
  top: -20px;
  background-color: transparent;
  width: 55%;
  height: 50px;
}

.submenu:after {
  left: 5px;
  transform: rotate(-25deg);
}

.subemnu:before {
  right: 5px;
  transform: rotate(25deg);
}

.submenu-item {
  padding: 3px 5px;
  white-space: nowrap;
}
